#taskwarrior-widget-container table {
    border-collapse: collapse;
}

#taskwarrior-widget-container tr.header {
    font-size: 8pt;
    font-weight: bold;
}

#taskwarrior-widget-container th, td {
    padding-bottom: 4px;
    padding-left: 0px;
    padding-right: 12px;
    padding-top: 4px;
    text-align: left;
}

#taskwarrior-widget-container th:last-of-type, td:last-of-type {
    padding-right: 8px;
}

#taskwarrior-widget-container th.num, td.num {
    text-align: right;
}

#taskwarrior-widget-container .star {
    font-size: 8pt;
    padding-left: 4px;
    padding-right: 1px;
    text-align: center;
}

#taskwarrior-widget-container tbody tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.1);
}
